//.cmp-button__icon {}
//.cmp-button__icon--myIcon {}
.cmp-button{display:inline-block;padding:.3125rem .4375rem;border:.125rem solid;border-radius:.1875rem;font-size:.625rem;font-weight:bold;text-transform:uppercase;text-decoration:none;cursor:pointer;background:0}
.cmp-button__text{display:inline-block;vertical-align:top;line-height:1.5}
.cmp-button__icon:before{display:inline-block;margin-right:.375rem;vertical-align:top;font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:.9375rem;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}
.cmp-button__icon--email:before{content:'email'}
@media only screen and (min-width:480px){.cmp-button{padding:.5rem 1.125rem;font-size:.75rem}
  .cmp-button__icon:before{font-size:1.125rem}
}
.isobar-clean--light .cmp-button{border-color:#737373;color:#737373}
.isobar-clean--light .cmp-button:hover{border-color:#232323;color:#232323}
.isobar-clean--dark .cmp-button{border-color:#e1e1e1;color:#e1e1e1}
.isobar-clean--dark .cmp-button:hover{border-color:#fff;color:#fff}
