//.cmp-carousel {}
//.cmp-carousel__content {}
//.cmp-carousel__item {}
//.cmp-carousel__actions {}
//.cmp-carousel__action {}
//.cmp-carousel__action--disabled {}
//.cmp-carousel__action--previous {}
//.cmp-carousel__action--next {}
//.cmp-carousel__action--pause {}
//.cmp-carousel__action--play {}
//.cmp-carousel__action-icon {}
//.cmp-carousel__action-text {}
//.cmp-carousel__indicators {}
//.cmp-carousel__indicator {}
.cmp-carousel__content{position:relative}
.cmp-carousel__item{display:none}
.cmp-carousel__item--active{display:block}
.cmp-carousel__action{-webkit-appearance:none;-moz-appearance:none;appearance:none}
.cmp-carousel__indicators{display:flex;flex-wrap:wrap;justify-content:center;margin:0;padding:0;list-style:none}
.cmp-carousel__indicator{position:relative;flex:0 1 auto;width:10px;height:10px;margin:0 7px;border-radius:50%;font-size:0;text-indent:-3000px;background-color:rgba(0,0,0,0.5)}
.cmp-carousel__indicator--active{background-color:rgba(0,0,0,0.8)}
.cmp-carousel{position:relative}
.cmp-carousel__item{display:none}
.cmp-carousel__item--active{display:block}
.cmp-carousel__actions{position:absolute;bottom:0;right:0}
.cmp-carousel__action{color:inherit;-webkit-appearance:'none';-moz-appearance:'none';appearance:'none'}
.cmp-carousel__indicators{display:flex;flex-wrap:wrap;justify-content:center;align-items:center;height:1.875rem;margin:0;padding:0;list-style:none}
.cmp-carousel__indicator{position:relative;flex:0 1 auto;width:.5rem;height:.5rem;margin:0 .375rem;border-radius:50%;font-size:0;text-indent:-3000px;cursor:pointer}
.cmp-carousel__indicator:focus{outline:0}
.cmp-carousel__actions{display:flex;flex-direction:row}
.cmp-carousel__action{width:1.875rem;height:1.875rem;border:0;padding:.375rem;line-height:1.875rem;cursor:pointer}
.cmp-carousel__action:first-child{margin-left:0}
.cmp-carousel__action:focus{outline:0}
.cmp-carousel__action--disabled{display:none}
.cmp-carousel__action--previous{order:1}
.cmp-carousel__action--previous .cmp-carousel__action-icon:before{content:'chevron_left'}
.cmp-carousel__action--next{order:4}
.cmp-carousel__action--next .cmp-carousel__action-icon:before{content:'chevron_right'}
.cmp-carousel__action--pause{order:2}
.cmp-carousel__action--pause .cmp-carousel__action-icon:before{content:'pause'}
.cmp-carousel__action--play{order:3}
.cmp-carousel__action--play .cmp-carousel__action-icon:before{content:'play_arrow'}
.cmp-carousel__action-icon:before{display:inline-block;vertical-align:top;font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:1.125rem;line-height:1;text-transform:none;letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}
.cmp-carousel__action-text{display:none}
.isobar-clean--light .cmp-carousel__action{background-color:#f5f5f5}
.isobar-clean--light .cmp-carousel__action:hover{background-color:#e1e1e1}
.isobar-clean--light .cmp-carousel__indicator{background-color:#e1e1e1}
.isobar-clean--light .cmp-carousel__indicator--active{background-color:#232323}
.isobar-clean--dark .cmp-carousel__action{background-color:#3c3c3c}
.isobar-clean--dark .cmp-carousel__action:hover{background-color:#505050}
.isobar-clean--dark .cmp-carousel__indicator{background-color:#3c3c3c}
.isobar-clean--dark .cmp-carousel__indicator--active{background-color:#f5f5f5}
