//.cmp-download {}
//.cmp-download__title {}
//.cmp-download__title-link {}
//.cmp-download__description {}
//.cmp-download__properties {}
//.cmp-download__property {}
//.cmp-download__property-label {}
//.cmp-download__property-content {}
//.cmp-download__property--filename {}
//.cmp-download__property--size {}
//.cmp-download__property--format {}
//.cmp-download__action {}
//.cmp-download__action-text {}
.cmp-download{position:relative;display:inline-block;border:.0625rem solid;border-radius:.1875rem;padding:1.125rem;overflow:hidden}
.cmp-download__title{margin:0 0 .5rem 0}
.cmp-download__title-link{text-decoration:none}
.cmp-download__description{margin:0 0 1.125rem 0}
.cmp-download__description p{margin:0;padding:0}
.cmp-download__properties{margin:0 0 1.125rem 0}
.cmp-download__property{display:inline-block;margin-right:.25rem;border-radius:.1875rem;padding:.25rem .5rem}
.cmp-download__property-label{display:none}
.cmp-download__property-content{margin:0}
.cmp-download__action{display:inline-block;padding:.3125rem .4375rem;border:.125rem solid;border-radius:.1875rem;font-size:.625rem;font-weight:bold;text-transform:uppercase;text-decoration:none;cursor:pointer;background:0}
.cmp-button__action-text{display:inline-block;vertical-align:top;line-height:1.5}
@media only screen and (min-width:480px){.cmp-download__action{padding:.5rem 1.125rem;font-size:.75rem}
}
.isobar-clean--light .cmp-download{border-color:#e1e1e1}
.isobar-clean--light .cmp-download__property{color:#737373;background-color:#ebebeb}
.isobar-clean--light .cmp-download__action{border-color:#737373;color:#737373}
.isobar-clean--light .cmp-download__action:hover{border-color:#232323;color:#232323}
