//.cmp-teaser {}
//.cmp-teaser__image {}
//.cmp-teaser__content {}
//.cmp-teaser__title {}
//.cmp-teaser__title-link {}
//.cmp-teaser__description {}
//.cmp-teaser__action-container {}
//.cmp-teaser__action-link {}
.cmp-teaser{position:relative;display:block;width:100%;overflow:hidden}
.cmp-teaser__content{display:flex;flex-direction:column;justify-content:flex-end;min-height:10rem;min-width:15rem;padding:.75rem;font-size:.8125rem}
.cmp-teaser__image ~ .cmp-teaser__content{position:absolute;top:0;bottom:0;left:0;right:0;min-height:auto;min-width:auto}
.cmp-teaser__pretitle *:last-child{margin-bottom:0}
.cmp-teaser__title{margin:0;font-family:'Roboto Slab',serif;font-size:1.25rem;line-height:1.5}
.cmp-teaser__title-link{text-decoration:none}
.cmp-teaser__description *:last-child{margin-bottom:0}
.cmp-teaser__action-link{display:inline-block;margin:.625rem .1875rem 0 0;padding:.3125rem .4375rem;border:.125rem solid;border-radius:.1875rem;font-size:.625rem;font-weight:bold;text-transform:uppercase;text-decoration:none}
@media only screen and (min-width:480px){.cmp-teaser__content{font-size:.875rem;padding:1.875rem}
  .cmp-teaser__title{font-size:1.875rem}
  .cmp-teaser__action-link{margin:1rem .3125rem 0 0;padding:.5rem 1.125rem;font-size:.75rem}
}
.isobar-clean--light .cmp-teaser{background-color:#f5f5f5;color:#505050}
.isobar-clean--light .cmp-teaser__image ~ .cmp-teaser__content{background-color:rgba(115,115,115,0.6);color:#f5f5f5}
.isobar-clean--light .cmp-teaser__image ~ .cmp-teaser__content .cmp-teaser__title-link{color:#fff}
.isobar-clean--light .cmp-teaser__image ~ .cmp-teaser__content .cmp-teaser__title-link:hover{color:#e1e1e1}
.isobar-clean--light .cmp-teaser__image ~ .cmp-teaser__content .cmp-teaser__action-link{border-color:#fff;color:#fff}
.isobar-clean--light .cmp-teaser__image ~ .cmp-teaser__content .cmp-teaser__action-link:hover{border-color:#e1e1e1;color:#e1e1e1}
.isobar-clean--dark .cmp-teaser{background-color:#505050;color:#fff}
.isobar-clean--dark .cmp-teaser__content{background-color:rgba(115,115,115,0.5)}
.isobar-clean--dark .cmp-teaser__title-link{color:#fff}
.isobar-clean--dark .cmp-teaser__title-link:hover{color:#e1e1e1}
.isobar-clean--dark .cmp-teaser__action-link{border-color:#fff;color:#fff}
.isobar-clean--dark .cmp-teaser__action-link:hover{border-color:#e1e1e1;color:#e1e1e1}
