.mysite-sign-in-buttons {
  text-align: right;
  float: left;
  width: 100%;
  min-height: 1px;
  
  @media (max-width: $screen-large) {
    text-align: left;
  }
}

.mysite-sign-in-buttons__button {
  // Start hidden, let JavaScript display the correct one
  display: none;
  text-transform: uppercase;
  color: $gray-lighter;
}

.mysite-sign-in-buttons__button--greeting {
  text-align: left;
  padding-right: $gutter-padding;
}
